.DS_Store
upgrade
plugins/bwp-minify/cache
themes/phase-genomics/assets/scss/.sass-cache/*
themes/phase-genomics/node_modules/
themes/phase-genomics/bower_components/
package-lock.json
error_log
updraft