@charset "UTF-8";
/************************************************

Stylesheet: Main Stylesheet

*************************************************/
/*********************
GENERAL STYLES
*********************/

/*********************
LINK STYLES
*********************/
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none; }

/*********************
HEADER STYLES
*********************/
.header ul.off-canvas-list li {
  list-style: none; }

/*********************
NAVIGATION STYLES
*********************/
.top-bar .title-area {
  z-index: 1; }

.off-canvas-list ul {
  margin-left: 0; }
  .off-canvas-list ul li a {
    border-bottom: 0px; }
  .off-canvas-list ul .dropdown {
    margin-left: 20px; }

/*********************
POSTS & CONTENT STYLES
*********************/
#content #inner-content {
  padding: 1rem 0rem; }

.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline {
  color: #999; }

.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.entry-title {
	font-family: 'Montserrat', sans-serif; 
	font-size: 2.25rem;
	color: #466880;
	line-height:1.1;
	text-align: left;
	text-transform: uppercase;
}

.thumbnail {
	float:left;
	border: 0px;
}

.excerpt {
	padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
}

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 0.9rem;
  background: #2199e8;
  color: #fff; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background: #1583cc;
    color: #fff; }

/*********************
IMAGE GALLERY STYLES
*********************/
/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem; }

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
  margin-left: 0px; }

#respond ul {
  margin-left: 0px; }

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }
  .commentlist li:last-child {
    margin-bottom: 0; }
  .commentlist li ul.children {
    margin: 0; }

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0; }

.commentlist .vcard {
  margin-left: 50px; }
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
  .commentlist .vcard time {
    float: right; }
    .commentlist .vcard time a {
      color: #999;
      text-decoration: none; }
      .commentlist .vcard time a:hover {
        text-decoration: underline; }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }

.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  float: right; }

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em; }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

#comment-form-title {
  margin: 0 0 1.1em; }

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

.nocomments {
  margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
.widget ul {
  margin: 0; }
  .widget ul li {
    list-style: none; }

.widgettitle {
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.5rem;
	color: #466880;
	line-height:1.1;
	text-align: left;
	margin: 4rem 0 1rem;
	text-transform: uppercase;
}

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  margin-top: 1em; }

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0; }

/******************************************************************

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. 

Remember to add things that won't make sense to print at 
the bottom. Things like nav, ads, and forms shouldbe set 
to display none.
******************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }



/******************************************************************

CUSTOM CSS

******************************************************************/

				/******************************************************
				Typography
				******************************************************/
* {
	font-family: 'Montserrat', sans-serif; 
}

p, li {
	font-size: 1rem;
	color: #466880;
	line-height: 1.53;
	margin-bottom: .5rem;
}

a {
	color: #ff8000;
	font-weight: bold;
}

a:hover {
	color: #6a96b4;
	transition: all .35s ease;
	transition: all .35s ease-out;
}

a:active {
	color: #6a96b4;
	transition: all .35s ease;
}

.centered {
	text-align: center;
}


.oblique
{
    font-style: oblique;
    font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.w400 {
	font-weight: 400;
}

.hp-bb-header, .hp-bb-header-dark {
	font-family: 'Montserrat', sans-serif; 
	font-size: 2.625rem;
	line-height:1.1;
	text-align: center;
	text-transform: uppercase;
	margin: 1rem;
	margin-left: 0rem;
	margin-right: 0rem;
}

.hp-bb-header {
	color: #ffffff;
}

.hp-bb-header-dark {
	color: #466880;
}

.hp-bb-sub, .hp-bb-sub-dark {
	font-size: 1.75rem;
	line-height:1.2;
	text-align: center;
	margin: 1rem;
	margin-left: 0rem;
	margin-right: 0rem;
}

.hp-bb-sub {
	color: #ffffff;
}

.hp-bb-sub-dark {
	color: #466880;
}

.hp-bb-text, .hp-bb-text-dark {
	font-size: 1.25rem;
	line-height:1.2;
	text-align: left;
	margin: 1rem;
	margin-left: 0rem;
	margin-right: 0rem;
}

.hp-bb-text {
	color: #ffffff;
}

.hp-bb-text-dark {
	color: #466880;
}

.light-link {
	color: #c1d3ee;
}

.hp-bb-icon {
	width: 195px;
	height: 195px;
	margin: .5rem auto .5rem;
}


.bold-header {
	font-size: 1.5rem;
	font-weight: bold;
}

.section-header {
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.825rem;
	color: #466880;
	line-height:1.1;
	text-align: center;
	margin: 4rem 0 1rem;
	text-transform: uppercase;
}

.module-title {
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.125rem;
	font-weight: bold;
	color: #466880;
	line-height: 1.25;
	text-align: center;
	margin: 1rem 0rem .5rem;
	text-transform: uppercase;
}

.section-message {
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.35rem;
	color: #466880;
	line-height: 1.25;
	text-align: center;
	margin: 1rem 0rem .5rem;
}

.orange-link {
	text-transform: uppercase;
	text-transform: bold;
	font-size: .9rem;
	margin: 2.75rem 0;
	color: #ff7200;
}

.orange-bold {
	text-transform: uppercase;
	font-weight: bold;
	color: #ff7200;
	font-size: 1rem;
}

.page-id-9 .orange-bold {
	margin-top: .75rem;
	margin-bottom: 0;
}

.page-id-386 .orange-bold {
	margin-top: .75rem;
	margin-bottom: 0;
}

.quote {
	font-size: 1.175rem;
	margin-bottom:.75rem;
}

.small-p {
	font-size: .875rem;
}
.page-id-9 .small-p {
	margin-bottom: 1rem;
}

.page-id-386 .small-p {
	margin-bottom: 1rem;
}

.page-id-386 a .small-p  {
	font-weight: normal !important;
}

.cta-header {
	font-size: 1.5rem;
	color: #ffffff;
	line-height:1.2;
	text-align: center;
	margin: 1rem;
}

.interior-header, .job-header, .job-subheader {
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.3rem;
	font-weight: bold;
	color: #6b95b3;
	line-height: 1.25;
	text-align: center;
	text-transform: uppercase;
}

.interior-header {
	font-size: 1.3rem;
	text-align: center;
	margin: 1rem 2rem 1rem !important;
}

.job-header {
	font-size: 1.5rem;
	text-align: center;
	margin: 1rem 2rem 1rem !important;
}

.job-subheader {
	font-size: 1.3rem;
	text-align: left;
	margin: 1rem 0rem 1rem !important;
}

.bb-header {
	font-family: 'Montserrat', sans-serif; 
	font-size: 2.25rem;
	color: #ffffff;
	line-height:1.1;
	text-align: center;
	text-transform: uppercase;
	margin: 1rem;
}

.bb-sub {
	font-size: 1.375rem;
	color: #ffffff;
	line-height:1.2;
	text-align: center;
	margin: 1.25rem 1rem 1rem;
}

.intro-text {
	font-size: 1.15rem;
    line-height: 1.6;
	color: #466880;
	text-align: left;
	margin: 0 0rem 0rem !important;
    padding-bottom: 1rem;
}

.intro-text2 {
	margin: 0 2.75rem !important;
    padding-bottom: 3rem;
}

.page-id-9 p {
	margin-bottom: 1rem;
}
.page-id-386 p {
	margin-bottom: 1rem;
}

.small-blue-bold {
	text-transform: uppercase;
	font-weight: bold;
	font-size: .9rem;
	margin-top: .75rem;
}

.cflabel {
	font-size: 1rem;
	color: #466880;
	line-height: 1.45;
	 margin: 0.5rem 0 0.15rem;
}

.cflabel-s {
	font-size: 1rem;
	color: #466880;
	line-height: 1.45;
	 margin: 1rem 0 0.15rem;
}
				/******************************************************
				Nav
				******************************************************/

.menu .active > a {
    background: none repeat scroll 0 0 !important;
    color: #466880
}

.header-logo {
	max-width: 180px;
	height: auto;
	margin-left: 2rem;
}
.top-bar, .top-bar ul, .top-bar ul a {
    background-color: #ffffff;
	text-transform: uppercase;
	font-size: .9rem;
	margin: 0 .25rem;
}

.top-bar {
	padding: 1.25rem 0;
}

#menu-main-navigation-1 {
	margin-top:.5rem;
}

	.menu > li > a {
		padding: .7rem 0.65rem !important;
	}
	
	.nav-button > a {
		background-color: #ff7200 !important;
    	color: #ffffff !important;
    	margin: 0 .7rem !important;
	}

	.nav-button:hover > a {
		background-color: #6a96b4 !important;
	}

/************************** RESPONSIVE MENU OFF (old—we now use the responsive menu) **************************/

@media only screen and (max-width: 782px) {
	.header-logo { margin-left: 0; }
	.top-bar {
		padding: 1.25rem 0;
	}
	.top-bar, .top-bar ul, .top-bar ul a {
		margin: 0 0;
	}
}

				/******************************************************
				Footer
				******************************************************/

.footer {
	background-color: #e8f4fc;
	margin-top: 0;
	padding-top:1rem;
	padding-bottom: 1rem;
}
#menu-footer-links a {
	text-transform: uppercase;
	font-size: .85rem;
	color: #466880;
}

.source-org {
	font-size: .85rem;
	color: #466880;
	line-height: 1.45;
	margin-bottom: .5rem;
	
}
.footer .menu > li > a {
    padding: 0.7rem .5rem;
}
	.mobile-logo-center {
		padding-top: .5rem;
	}
				/******************************************************
				Homepage
				******************************************************/

/****************Home Billboard***********************/
.header-bg {
	width: 100%;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-color: #ff7000;
}

.table-div {
	display: table;
	height: 250px;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
}

.vcenter-content {
	display: table-cell;
	height: 250px;
	vertical-align: middle;
	text-align: center;
}

.kit-banner {
	width: 100%;
	padding: 2rem 0 2rem;
}

.kit-table {
	display: table;
	vertical-align: middle;
	text-align: left;
	margin: 0 auto;
}


.kit-header, .centered-kit-header {
	font-size: 1.825rem;
	vertical-align: middle;
	font-family: 'Montserrat', sans-serif; 
	text-transform: uppercase;
	padding: 1rem 0 0.5rem 0;
}

.kit-header {
	color: #f58020;
	line-height:1.1;
	text-align: left;
}

.centered-kit-header {
	color: #466880;
	line-height:1.25;
	margin: 1rem 2rem 1rem !important;
	text-align: center;
}

.kit-cell {
	vertical-align: middle;
	text-align: left;
	margin: 0;
}

.kit-image {
	vertical-align: middle;
	display: block;
    margin: 0 auto;
	padding: 0.2rem 2rem;
	width: 70%;
	height: 70%;
	text-align: center;
}

.analysis-heading-height {
	margin: 1.5rem;
	height: 4rem;
}

.analysis-description-height {
	margin: 1.5rem;
	height: 6rem;
}

.kit-bullet-header {
	margin: 1.5rem 0;
	height: 2.5rem;
}

.kit-bullet {
	margin: 0 2rem;
}

.blue-button {
	background-color: #466880;
    color: #ffffff;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.8rem;
    padding: 0.52rem 2.5rem 0.61rem;
    text-align: center;
    text-transform: uppercase;
}

.blue-button:hover {
	background-color: #6a96b4;
	color: #ffffff;}
	
/****************Home Rotating Banner********************/
.homepage-orbit-container {
	background-color: #f5f5f5;
}

.homepage-orbit-slide {
	background-color: #f5f5f5;
	padding: 2rem;
}

.homepage-orbit-banner-slide {
	background-color: #f5f5f5;
	padding: 8.5rem 2rem;
}
	
/****************Home Event Banner***********************/
.fullwidth-banner {
	background-color: #f5f5f5;
	padding: 2rem 0 2rem;
}

.news-fullwidth-banner {
	background-color: #e8f4fc;
	padding: 2rem 0 2rem;
}

.rotating-header-banner {
	background-color: #f5f5f5;
	padding: 0;
}
		.hover-center {
		  margin-top: 1.6rem !important;
		}

/****************Three Modules***********************/

.three-modules {
	padding: 0;
}

.center-icon {
	width: 95px;
	height: 95px;
	margin: .5rem auto .5rem;
}

.grey-background {
	background-color: #f5f5f5;
}

.white-background {
	background-color: #ffffff;
}

.grey-box {
	background-color: rgba(255, 255, 255, 0.65);
	padding: 1.5rem;
	margin: 2.75rem 0 4rem;
	min-height: 20.8rem;
}

/****************What we do***********************/

.image-bg {
	width: 100%;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	padding: 1rem 0 3rem;
}


.transparent-box {
	background-color:#eef7fd;
	padding: 2.75rem 1.5rem;
	margin: 2.75rem 0 4.25rem;
	min-height: 19.5rem;
	
}

/***********Committed / quote / satisfaction*************/

.section-header-icon {
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.825rem;
	color: #466880;
	line-height:1.1;
	text-align: center;
	margin: 0rem 0 1.75rem;
	text-transform: uppercase;
}

.lower-center-icon {
	margin: 3.25rem auto 1.75rem;
	width: 95px;
	height: 95px;
}

.repeater-div {
	height: 11rem;
    margin: 1.75rem;
}

.quote-container {
	border-top: 1px solid #c5d6e8;
	border-bottom: 1px solid #c5d6e8;
	padding: 2.95rem 0 2.5rem;
	margin-top: 3rem;
}

.large-p {
	font-size: 1.125rem;
}
/*********** call to action banner *************/

.cta-fullwidth-banner {
	background-color: #466880;
	padding: 2rem 0 2.75rem;
}
.button-div {
	text-align: center;
}


.orange-button {
	background-color: #ff7200;
    color: #ffffff;
    display: inline-block;
    font-size: 01rem;
    font-weight: bold;
    margin-top: 0;
    padding: 0.58rem 2.75rem 0.61rem;
    text-align: center;
    text-transform: uppercase;
    margin-left: .2rem;
    margin-right: .8rem;
}

.narrow-button-margin {
    margin: 0;
}

.orange-button:hover {
	background-color: #6a96b4;
    color: #ffffff;
    display: inline-block;
    font-size: 01rem;
    font-weight: bold;
    margin-top: .5rem;
    padding: 0.58rem 2.95rem 0.61rem;
    text-align: center;
    text-transform: uppercase;
    margin-left: .0rem;
    margin-right: .0rem;
}


.wpcf7-submit {
	font-family: 'Montserrat', sans-serif;
	background-color: #ff7200;
    color: #ffffff;
    display: inline-block;
	border: none;
    font-size: 01rem;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    margin-top: .5rem;
    padding: 0.7rem 2.75rem;
    text-align: center;
    text-transform: uppercase;
}

.wpcf7-submit:hover {
	background-color: #6a96b4;
    color: #ffffff;
	transition: all .35s ease;
}

				/******************************************************
				Services
				******************************************************/

.interior-table-div {
	display: table;
	height: 450px;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
}

.interior-vcenter-content {
	display: table-cell;
	height: 450px;
	vertical-align: middle;
	text-align: center;
}

.fullwidth-module {
	padding: 3.5rem 0 4.5rem;
	width: 100%;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.fullwidth-tech-module {
	padding: 0rem 0 0rem;
	width: 100%;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.no-padding {
	padding: 0;
}

.product-table {
	vertical-align: top;
}

.transparent-table {
	background-color:rgba(0, 0, 0, 0);
}

.product-cell {
	vertical-align: top;
	padding: 20px;
}

.transparent-cell {
	background-color:rgba(0, 0, 0, 0);
}

.product-header {
	font-size: 1.4rem;
	font-weight: bold;
	vertical-align: top;
	text-align: center;
	color: #f58020;
	font-family: 'Montserrat', sans-serif; 
	text-transform: uppercase;
}

.interior-quote-container {
	border-top: 1px solid #c5d6e8;
	border-bottom: 1px solid #c5d6e8;
	padding: 2.75rem 0 2.5rem;
	margin: 3rem .25rem 0;
}

				/******************************************************
				About
				******************************************************/
.news-container {
	border-bottom: 1px solid #ff7200;
	margin-bottom:1.25rem !important;
}

.relative-div {
	position: relative;
}

.post-date {
	font-size: .875rem;
	font-weight: bold;
	margin-bottom: .25rem !important;
	margin-top: 0rem !important;
}

.news-article {
	font-size: 1.125rem;
	margin-bottom: .75rem !important;
	font-weight: bold;
	line-height: 1.35;
}

.news-link {
	margin-bottom: .75rem !important;
	color: #ff7200;
	text-transform: uppercase;
	text-align: right;
	position: absolute;
 	bottom: 0;
	right: 0;
}
/*************************************** TESTIMONIALS *****************************************/


/* chevron arrow test */
#chevron-arrow-left {
  display: inline-block;
  border-right: 4px solid  #ff7200;
  border-bottom: 4px solid  #ff7200;
  width: 5px; height: 5px;
  transform: rotate(-225deg);
	transition: .35s ease;
	transition: .35s ease-out;
}

#chevron-arrow-right {
  display: inline-block;
  border-right: 4px solid  #ff7200;
  border-bottom: 4px solid  #ff7200;
  width: 5px; height: 5px;
  transform: rotate(-45deg);
	transition: .35s ease;
	transition: .35s ease-out;
}

/* #chevron {
  position: relative;
  top: 100px;
  text-align: center;
  padding: 5px;
  margin-bottom: 6px;
  height: 2px;
  width: 20px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  background: red;
  -webkit-transform: skew(0deg, 30deg);
  -moz-transform: skew(0deg, 30deg);
  -ms-transform: skew(0deg, 30deg);
  -o-transform: skew(0deg, 30deg);
  transform: skew(0deg, 30deg);
}
#chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 50%;
  background: red;
  -webkit-transform: skew(0deg, -30deg);
  -moz-transform: skew(0deg, -30deg);
  -ms-transform: skew(0deg, -30deg);
  -o-transform: skew(0deg, -30deg);
  transform: skew(0deg, -30deg);
}​
 */

#chevron-arrow-right:hover {
	border-right: 4px solid  #466880; 
	border-bottom: 4px solid  #466880;
}
#chevron-arrow-left:hover {
	border-right: 4px solid  #466880; 
	border-bottom: 4px solid  #466880;
}
.interior-quote-container a, ul, li, div {
   outline: 0;
}

.orbit-previous {
	color: #ff7200;
	background: transparent !important;
	transition: .35s ease;
	transition: .35s ease-out;
}

.orbit-next {
	color: #ff7200;
	background: transparent !important;
	transition: .35s ease;
	transition: .35s ease-out;
}

.orbit-previous {
	padding: .35rem;
}

.orbit-next {
	padding: .35rem;
}

.orbit-previous:hover {
	color: #466880;
}

.orbit-next:hover {
	color: #466880;
}

@media only screen and (max-width: 42rem) {
	.orbit-next {
		display: none;
	}
	.orbit-previous {
		display: none;
	}
}

.orbit-bullets {
    position: relative;
    margin-top: 2.8rem;
    margin-bottom: 0rem;
    text-align: center;
}


.orbit-bullets button.is-active, .orbit-bullets button:hover {
    background-color: #ff7200;
}
.orbit-bullets button {
    width: .75rem;
    height: .75rem;
    margin: .1rem;
    border-radius: 50%;
    background-color: #466880;
}

.homepage-orbit-previous {
	color: #638299;
	background: transparent !important;
	transition: .35s ease;
	transition: .35s ease-out;
}

.homepage-orbit-next {
	color: #638299;
	background: transparent !important;
	transition: .35s ease;
	transition: .35s ease-out;
}

.homepage-orbit-previous {
	padding: 1.5rem;
}

.homepage-orbit-next {
	padding: 1.5rem;
}

.homepage-orbit-previous:hover {
	color: #99b7cc;
}

.homepage-orbit-next:hover {
	color: #99b7cc;
}

@media only screen and (max-width: 42rem) {
	.homepage-orbit-next {
		display: none;
	}
	.homepage-orbit-previous {
		display: none;
	}
}

.homepage-orbit-bullets {
    position: relative;
    margin-top: 0.4rem;
    margin-bottom: 0rem;
    text-align: center;
}



		/* Small only */
@media screen and (max-width: 39.9375em) {
	.news-link {
		position: static;
		text-align: left;
	}
}
		/* Hover Overlay */
.block-display-img {
	display: block;
}

.overlay-container {
	position: relative;
}

.overlay-container:hover .overlay {
  background-color: rgb(255, 114, 0, 0.7);
}

.overlay-container:hover .overlay-title {
  opacity: 1;
}

.overlay-container:hover .overlay-title-advisors {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .35s ease;
  background-color: rgb(255, 114, 0, 0);
}

.overlay-title {
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
  	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
	opacity: 0;
	transition: .35s ease;
}

.overlay-title-advisors {
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
  	top: 50%;
 	left: 0%;
  	transform: translate(-0%, -50%);
  	-ms-transform: translate(-0%, -50%);
	opacity: 0;
	transition: .35s ease;
}

.bio-reveal {
	width: 550px;
	max-width: 90%;
	padding: 3rem 3rem .85rem 3rem;
	margin: 10% auto;
}

.page-id-386 .small-blue-bold {
    margin-bottom: 0 !important;
}

.page-id-386 .small-p {
    line-height: 1.33;
	margin-top: 0;
}

		/*******resources section*********/
.resource-img {
	width: 100%;
	max-width: 18.75rem;
	display: inline-block;
}

.resource-button {
	background-color: #ff7200;
    color: #ffffff;
    display: inline-block;
    font-size: 01rem;
    font-weight: bold;
    padding: 0.58rem 2.75rem 0.61rem;
    text-align: center;
    text-transform: uppercase;
	width: 100%;
    max-width: 18.75rem;
	transition: all .35s ease;
	transition: all .35s ease-out;
}
.resource-button:hover {
	background-color: #466880;
    color: #ffffff !important;
    display: inline-block;
	transition: all .35s ease;
	transition: all .35s ease-out;
}

.margin-bottom-4rem {
	margin-bottom: 4rem !important;
}
 
				/******************************************************
				Technology
				******************************************************/

.fullwidth-center {
	display: block;
	width: auto;
	margin: 0 auto;
	max-height: 18rem;
	margin-bottom: 0rem;
	margin-top:0rem;
}

.large-text {
    font-size: 1.15rem;
    line-height: 1.6;
    color: #466880;
    text-align: left;
    padding: .5rem 0 .5rem !important;
}
.spacing-enabled {
	margin-top: 1.25rem; }


@media only screen and (max-width: 782px) {
		.spacing-enabled {
		margin-top: 1rem;
	}
}
@media only screen and (max-width: 39.9375em) {
		.spacing-enabled {
		margin-top: 0rem;
	}
}


.fullw-img {
	max-width: 100%;
	height: auto;
}

.lg-portrait-wrap {
	max-width: 300px;
	margin: 0 auto;
}

.sm-portrait-wrap {
	max-width: 190.4px;
	margin: 0 auto;
}

.lg-portrait {
	width: 300px;
}
.sm-portrait {
	margin-top:1rem;
	width: 190.4px;
}

.no-top-pad {
	padding-top: 0rem !important;
}
.nivo-lightbox-wrap {top: 3%;}

.nivo-lightbox-inline {
	padding: 0;
}

.reveal-overlay {
    background-color: rgba(38, 76, 114, 0.71)
}
.close-button {
    color: #000000;
    cursor: pointer;
    position: absolute;
}	
.centered-thumb {
    margin: 0.5rem auto;
    width: 295px;
}
.centered-thumb-im {
	border: solid 1px #badaf0;
	display: block;
	margin: 0 auto;
}

				/******************************************************
				Contact Us
				******************************************************/

[type="color"], [type="date"], [type="datetime-local"], [type="datetime"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], textarea {
    -moz-appearance: none;
    background-color: #fefefe;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 1px 2px hsla(0, 0%, 4%, 0.1) inset;
    box-sizing: border-box;
    color: #0a0a0a;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    height: 2.4375rem;
    margin: .25rem 0 .25rem;
    padding: .25rem;
    transition: box-shadow 0.5s ease 0s, border-color 0.25s ease-in-out 0s;
    width: 100%;
}




.page-id-11 #main {
	padding-bottom: 5rem;
	background-color:#f5f5f5;
}

.contact-fullwidth-module {
	padding: 3.5rem 0 4.5rem;
	width: 100%;
	background-color:#f5f5f5;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}


.page-title {display: none;}

#comments_margin {
padding-top:.5rem !important;	
	}

.wpcf7-text {
background-color: #ffffff;
color: #6b95b3;
}

.wpcf7-textarea {
background-color: #ffffff;
	color: #6b95b3;
}

#submit-button {
	cursor: pointer;
	display: block;
	margin: 0 auto 0 auto;
}


/** span.wpcf7-not-valid-tip { display: inline !important;} **/

.contact-table {
	margin-bottom: 0rem;
	padding: .25rem !important;
	display: table;
	width: 100%;
	}

.cf7-left {
	display: table-cell;
	width: 50%;
	padding: 0 .5rem 0 0 !important;
}
 
.cf7-right {
	display: table-cell;
	width: 50%;
	padding: 0 0 0 0 !important;
}
.wpcf7-text {
	margin-bottom:0;
}


#no-pad {
	padding:0 !important;
	}
	
.pad-left-1c {
	padding-left: 5rem;
		}

.bold-contact {
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.125rem;
	font-weight: 700;
	margin-bottom: .5rem;
	line-height: 1.33;
	color: #333333;
	text-align: left;
}
	
	
#contact-padding{
	padding-top: 1.8rem !important;
}
	
	.reg-contact {
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.125rem;
	font-weight: 400;
	margin: auto;
	line-height: 1.33;
	color: #333333;
	text-align: left;
	}

/********** RESPONSE MESSAGE ***********/

div.wpcf7-mail-sent-ok {
	border: 2px solid #466880 !important;
	padding: 0.4em 1em 0.55em 1em;	
	}

div.wpcf7-response-output {
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.125rem;
	font-weight: 400;
	color: #333333;
	margin: 1em 0.5em 1em;
	}

div.wpcf7-validation-errors {
    border: 2px solid #e32526 !important;
}

/********** END FORM ***********/



/* SalesForce WordPress to Lead Default CSS */

.entry-content {
	max-width: 74.9375em;
	margin: 0 auto;
}
	
.w2llabel {
	font-size: 1rem;
	color: #466880;
	line-height: 1.45;
	margin: 0.5rem 0 0.15rem;
}

.submit {
	font-family: 'Montserrat',sans-serif;
	background-color: #ff7200;
	color: #fff;
	display: block;
	border: none;
	font-size: 01rem;
	font-weight: bold;
	margin: .5rem auto;
	padding: 0.7rem 2.75rem;
	text-align: center;
	text-transform: uppercase;
}

.sf_field_first_name {
	width: 49.5%;
	float: left;
	margin-right: .5%;;
}

.sf_field_last_name {
	width: 49.5%;
	float: left;
	margin-left: .5%;
}
textarea.textarea {
	min-width: 100%;
	min-height: 10rem;
}

.error_message {
	color: #ff7200;
}

/** END SALESFORCE FORM AREA **/



/**MEDIA QUERIES**/
@media only screen and (max-width: 63.9375em),
	only screen and (max-device-width: 63.9375em) {
		
	.header-logo {
	max-width: 180px;
	height: auto;
	margin-left: .65rem;
}		

		
	.repeater-div {
    	height: auto;
   		margin: 1.5rem 0.25rem;
		min-height: 200px;
	}
		
	.grey-box {
		padding: 1.5rem 0;
		margin: 2.75rem 0 4rem;
		min-height: 365px;
	}
			/********** technology ************/
	.reveal {
	}
		
	.close-button, .close-button.medium {
    font-size: 3em;
    line-height: 1;
    right: 1rem;
    top: 0.5rem;
}
	
}

@media only screen and (max-width: 51em),
	only screen and (max-device-width: 51em) {
		
	.repeater-div {
		min-height: 259px;
	}
}

@media only screen and (max-width: 39.9375em) {
	
	/** Mobile Nav **/
	.top-bar .top-bar-left {
		width: 50%;
	}
	.top-bar .top-bar-right {
		width: 35%;
	}
	.menu > li > a {
    padding: 1.25rem 0.65rem 1rem !important;
	}
	#menu-icon {
		float: right;
		margin-right: 1rem;
	}
	
	
	/**     HOMEPAGE **/
	
	
	/**    INTERIOR    **/
	
	.margin-spacing {
	margin: 0rem 0 0rem 0;
}
	

	
	.bb-header {
		margin-left: 0rem;
		margin-right: 0rem;
	}
	.bb-sub {
		margin-left: 0rem;
		margin-right: 0rem;
	}	
	
	.intro-text {
		margin-left: .75rem !important;
		margin-right: .75rem !important;
	}
	
	.intro-text2 {
		margin-left: .75rem;
		margin-right: .75rem;
	}
	
	.repeater-div {
		height: auto;
		margin: 1.5rem .25rem;
		min-height: 0;
	}
	
	.three-modules {
		padding: 0 0 1rem;
	}	
		
	.grey-box {
		padding: 1.5rem;
		margin: .75rem 0;
		min-height: auto;
	}
	.transparent-box { 
		margin: .75rem 0;
		padding: 2.5rem 1.5rem 3rem;
		min-height:0;
	}
	
	/********** technology ************/
	.reveal {
	}
	
	
	/********** about ************/
	
	.orbit-bullets {
		margin-top: .25rem; }
	
	.resource-button {
		margin-bottom: 1rem; }
	
	
	/********** CONTACT ************/

	.cf7-left {
		display: table-cell;
		width: 50%;
		float: left;
		padding: 0 .5rem 0 0 !important;
	}

	.cf7-right {
		display: table-cell;
		width: 50%;
		float: left;
		padding: 0 0 0 0 !important;
	}

	.contact-header { 
	font-size: 1.75rem;
	padding: 2rem 0 2rem 0;
	}

	.contact-table {
	margin-bottom: 0;
	padding: 0 !important;
	width: 100%;
	}

	
	/********** FOOTER ************/
	
	.footer {
	padding-bottom: .5rem;
}
	.mobile-logo-center {
		width: 100%;
		display: table;
		padding-top: .5rem;
	}
	.mobile-logo-cell {
		display: table-cell;
		text-align: center;
	}
	
	.footer .menu > li > a {
    padding: 0.7rem 0.5rem !important;
		text-align: center;
}
	
	.footer .menu.horizontal > li, .menu > li {
    display: inline;
}
}