.news-container {
  border-bottom: 1px solid #ff7200;
  margin-bottom: 1.25rem !important;
}

.relative-div {
  position: relative;
}

.post-date {
  font-size: .875rem;
  font-weight: bold;
  margin-bottom: .25rem !important;
  margin-top: 0rem !important;
}

.news-article {
  font-size: 1.125rem;
  margin-bottom: .75rem !important;
  font-weight: bold;
  line-height: 1.35;
}

.news-link {
  margin-bottom: .75rem !important;
  color: #ff7200;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.interior-intro {
  font-size: 19.8px;
  line-height: 1.4;
  letter-spacing: -0.03em;
}

.arrow {
  img {
    width: 23px;
  }
}

#events-carousel {
  opacity: 0;
  transition: opacity 500ms;
  margin-top: 25px;
  &.slick-initialized {
    opacity: 1;
  }
  .event-item {
    padding-top: 5px;
    padding-bottom: 5px;
    @include breakpoint(small) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @include breakpoint(medium) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @include breakpoint(large) {
      padding-left: calc(#{map-get($grid-column-gutter, large)} / 2);
      padding-right: calc(#{map-get($grid-column-gutter, large)} / 2);
    }
    outline: none;
    p {
      margin-bottom: 10px;
      line-height: 1.28;
    }
    .button {
      position: absolute;
      width: 160px;
      bottom: 23px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .inner {
      width: 100%;
      min-height: 175px;
      padding-top: 23px;
      padding-left: 17px;
      padding-right: 17px;
    }
    &__date-location {
      font-size: 13px;
    }
    &__title {
      font-size: 14px;
    }
  }
  .arrow {
    cursor: pointer;
    z-index: 1;
    &.prev {
      @include breakpoint(small) {
        left: 0;
      }
      @include breakpoint(large) {
        left: -23px;
      }
      @include breakpoint(xlarge) {
        left: -70px;
      }
    }
    &.next {
      @include breakpoint(small) {
        right: 0;
      }
      @include breakpoint(large) {
        right: -23px;
      }
      @include breakpoint(xlarge) {
        right: -70px;
      }
    }
  }
}