.home {
  &--products {
    @include breakpoint(medium) {
      padding: 70px 0 55px;
    }
    $padding: 3px;
    &__kits {
      margin-bottom: 40px;
    }
    &__hic {
			margin: 0;
			padding-left: 5px;
			padding-right: 5px;
			@include breakpoint(large) {
				padding-left: 0;
				padding-right: 0;
				margin-left: -#{$padding};
				margin-right: -#{$padding};
			}
    }
    $padding-bottom: 36px;
    $transition-duration: 800ms;
    &__cell {
      text-align: center;
			@include breakpoint(small) {
				margin-bottom: 56px;
				padding-left: 5px;
				padding-right: 5px;
				min-height: 220px;
				height: auto;
			}
			@include breakpoint(large) {
				height: 39.25vw;
				// max-height: 470px;
				padding-left: #{$padding};
				padding-right: #{$padding};
				margin-bottom: 0;
				overflow: hidden;
				&:hover {
					.home--products__cell__inner--mask {
						top: calc(-100% - 10px);
					}
					.button.border {
						background: $secondary-color;
						border-color: $secondary-color;
						color: white;
					}
				}
			}
      &__inner {
        position: relative;
				height: 100%;
        width: 100%;
        z-index: 1;
        &--mask {
          transition: top #{$transition-duration} ease-in-out;
          height: 100%;
          background-color: #eef7fd;
          top: 0;
          z-index: 2;
          img {
            @include breakpoint(small) {
							width: auto;
							height: 88px;
							margin-top: -44px;
							margin-bottom: 23px;
						}
						@include breakpoint(large) {
							height: auto;
							position: absolute;
							top: 45px;
							left: 0;
							right: 0;
							margin: 0 auto;
						}
            @include breakpoint(xlarge) {
              width: 200px;
            }
					}
					.home--products__title {
						@include breakpoint(medium down) {
							font-size: 18px;
							font-weight: 600;
						}
						@include breakpoint(large) {
							color: #2a627a;
						}
					}
          .home--products__cell__content {
            padding-bottom: 0;
            bottom: calc(#{$padding-bottom} + 46px);
					}
					.button.border {
						@include breakpoint(medium down) {
							position: absolute;
							left: 0;
							right: 0;
							width: 123px;
							margin: 0 auto;
							bottom: 28px;
						}
					}
					@include respond(ipad-pro-portrait) {
						display: none;
					}
					@include respond(ipad-pro-landscape) {
						display: none;
					}
					@include breakpoint(small) {
						padding-bottom: 28px;
						height: 100%;
					}
					@include breakpoint(large) {
						position: absolute;
						width: calc(100% - #{$padding} * 2);
						left: $padding;
						height: 100%;
						padding-bottom: 0;
					}
				}
      }
      &__content {
        width: 100%;
        padding: 0 12px #{$padding-bottom};
        text-align: center;
        bottom: 0;
        left: 0;
        z-index: 3;
        .button.border {
          transition: all $transition-duration;
				}
				@include breakpoint(large) {
					position: absolute;
				}
      }
      &--border {
        border: 3px solid #eef7fd;
				padding: 24px 50px 28px;
				height: auto;
        p,
        ul,
        strong {
          text-align: left;
        }
        strong {
          font-size: 17px;
        }
        ul {
          margin-left: 17px;
          li {
            font-size: 14px;
            line-height: 1.2;
          }
        }
      }
    }
    &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 1;
      margin-bottom: 15px;
			text-transform: uppercase;
    }
    &__desc {
      font-weight: 600;
      line-height: 1.3;
			@include breakpoint(small) {
				margin-bottom: 52px;
				font-size: 13px;
			}
			@include breakpoint(large) {
				font-size: 16px;
				margin-bottom: 23px;
			}
    }
  }
  &--quotes {
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
      margin-bottom: 28px;
    }
    &__cell {
      text-align: left;
      @include breakpoint(large) {
        padding: 0 48px;
      }
      .quote {
        font-size: 18px;
        line-height: 1.33;
        font-weight: 500;
      }
      .referee {
        font-size: 14px;
      }
      .source {
        font-size: 13px;
      }
    }
  }
}