.footer {
  clear: both;
  padding: 36px 0;
  background-color: #363636;
  li,
  p {
    margin-bottom: 0;
  }
  .icon-menu {
    padding-left: 20px;
  }
  .menu {
    li {
      &.small-menu a {
        font-size: 14px;
        margin-bottom: 20px;
      }
      a {
        color: white;
        font-size: 16px;
        font-weight: 500;
				padding: 0;
				margin-right: 20px;
				margin-bottom: 36px;
				&:hover {
					color: $secondary-color;
				}
      }
    }
  }
}

.footer .menu .active>a,
.footer .menu .is-active>a {
  background-color: transparent;
  background: transparent;
  color: $secondary-color;
}

.source-org {
  font-size: 14px;
  color: #a8a8a8;
  line-height: 1;
  a {
    text-transform: uppercase;
		color: white;
		&:hover {
			color: $secondary-color;
		}
  }
}