// Colors
$blue-color: #2a627a;
$mobile-padding: 30px;
$row-height: 37px;

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
  font-weight: 300;
}

hr {
  border-color: #7297af;
}

a {
  transition: all 300ms;
  &:link,
  &:visited:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }
  &.white-color:hover {
    color: $secondary-color;
  }
}

.main-container,
.container {
  @include xy-grid-container;
  max-width: $container-width;
  margin: 0 auto;
  position: relative;
}

.grid-centered {
  justify-content: center;
}

.grid-right {
  justify-content: flex-end;
}

.flex-bottom {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.d-ib {
  display: inline-block;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10 preview */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  /* IE6-8 */
}

.abs-center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
}

.abs-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.box-shadow {
  box-shadow: 8px 13px 18px 0px rgba(0, 0, 0, 0.15);
  &--posts {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
  }
}

.text-shadow {
  text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.bolder {
  font-weight: 900 !important;
}

.semibold {
  font-weight: 600 !important;
}

.bold {
  font-weight: 700 !important;
}

.regular {
  font-weight: 500 !important;
}

.light {
  font-weight: 400 !important;
}

.lighter {
  font-weight: 300 !important;
}

.flex-center-items {
  height: 100%;
  align-items: center;
  -webkit-align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.white-color {
  color: white;
}

.blue-color {
  color: $blue-color;
}

.bg-center-top {
  background-position: center top;
}

.bg-center-bottom {
  background-position: center bottom;
}

.bg-center {
  background-position: center center;
}

.bg-center-right {
  background-position: center right;
}

.bg-center-left {
  background-position: center left;
}

.button {
  font-weight: 600;
  letter-spacing: 0.02em;
  &.border {
    background: $white;
    border: 3px solid #a5aeb4;
    color: #a5aeb4;
    padding: 8px 30px;
  }
  &.small {
    padding: 10px 22px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.h100p {
  height: 100%;
}

.w100p {
  width: 100%;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

$margin: 20;
@mixin margin-classes {
  @for $i from 1 through $margin {
    .mb#{$i * 5} {
      margin-bottom: #{$i * 5}px;
    }
    .mt#{$i * 5} {
      margin-top: #{$i * 5}px;
    }
  }
}

@include margin-classes();
.lh1 {
  line-height: 1;
}

.no-overflow {
  overflow: hidden;
}

.no-outline {
  outline: none !important;
}

.fz-36 {
  line-height: 1.11;
  @include breakpoint(small) {
    font-size: 23px;
  }
  @include breakpoint(medium) {
    font-size: 30px;
  }
  @include breakpoint(large) {
    font-size: 36px;
  }
}

.fz-18 {
  font-size: 18px;
}

.fz-14 {
  font-size: 14px;
  line-height: 1.15;
}

p.small {
  font-size: 16px !important;
  font-weight: 500;
}

.flex-video,
.responsive-embed {
  margin-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-padding {
  padding-top: $mobile-padding;
  padding-bottom: $mobile-padding;
  @include breakpoint(medium) {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

input.product-qty {
  height: $row-height;
  line-height: $row-height;
  margin: 0;
  padding: 0 10px;
  background-color: #f4fbff;
  font-size: 16px;
  outline: none;
  box-shadow: none;
}

.woocommerce {
  input[type=color],
  input[type=date],
  input[type=datetime-local],
  input[type=datetime],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week],
  textarea {
    @extend input.product-qty;
    background-color: $light-gray;
  }
  input[type=number] {
    max-width: 100px;
  }
  textarea {
    min-height: 100px;
  }
}

.form-row.place-order {
  .button {
    margin-right: 20px;
  }
}

.accordion {
  .accordion-item.is-active {
    .accordion-title:before {
      transform: rotate(180deg);
    }
  }
  .accordion-title {
    border: 0 !important;
    background-color: #eef7fd;
    font-size: 16px;
    padding-left: 22px;
    padding-right: 54px;
    padding-top: 13px;
    padding-bottom: 13px;
    &:before {
      right: 27px;
      transition: transform 400ms;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12px 6px 0 6px;
      border-color: #40647e transparent transparent transparent;
    }
  }
  .accordion-content {
    color: $primary-color;
    border: 0 !important;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 22px;
  }
}

// Responsive Mixins for iPad Pro
@mixin respond($media) {
  @if $media==ipad-pro {
    /* Portrait and Landscape */
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      @content;
    }
  }
  @else if $media==ipad-pro-portrait {
    /* Portrait */
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
      @content;
    }
  }
  @else if $media==ipad-pro-landscape {
    /* Landscape */
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
      @content;
    }
  }
}

/******************************************************************

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/

/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet.

Remember to add things that won't make sense to print at
the bottom. Things like nav, ads, and forms should be set
to display none.
******************************************************************/

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a {
    color: #444 !important;
    text-decoration: underline;
    &:visited {
      color: #444 !important;
      text-decoration: underline;
    }
    &:after,
    &:visited:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after,
    &:visited abbr[title]:after {
      content: " (" attr(title) ")";
    }
  }
  .ir a:after {
    content: "";
  }
  a {
    &[href^="javascript:"]:after,
    &[href^="#"]:after {
      content: "";
    }
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}

/*********************
SIDEBARS & ASIDES
*********************/

.widget ul {
  margin: 0;
  li {
    list-style: none;
  }
}

.widgettitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #466880;
  line-height: 1.1;
  text-align: left;
  margin: 4rem 0 1rem;
  text-transform: uppercase;
}

.gform_body ul {
  list-style: none outside none;
  margin: 0;
}

/******************************************************
				Typography
				******************************************************/

* {
  font-family: 'Montserrat', sans-serif;
}

p,
li {
  font-size: 1rem;
  color: #466880;
  line-height: 1.4;
  margin-bottom: .5rem;
}

a {
  color: #ff8000;
  font-weight: bold;
  &:hover {
    color: #6a96b4;
    transition: all .35s ease;
    transition: all .35s ease-out;
  }
  &:active {
    color: #6a96b4;
    transition: all .35s ease;
  }
}

.centered {
  text-align: center;
}

.oblique {
  font-style: oblique;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.w400 {
  font-weight: 400;
}

.hp-bb-header,
.hp-bb-header-dark {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.625rem;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

.hp-bb-header {
  color: #ffffff;
}

.hp-bb-header-dark {
  color: #466880;
}

.hp-bb-sub,
.hp-bb-sub-dark {
  font-size: 1.75rem;
  line-height: 1.2;
  text-align: center;
  margin: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

.hp-bb-sub {
  color: #ffffff;
}

.hp-bb-sub-dark {
  color: #466880;
}

.hp-bb-text,
.hp-bb-text-dark {
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: left;
  margin: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

.hp-bb-text {
  color: #ffffff;
}

.hp-bb-text-dark {
  color: #466880;
}

.light-link {
  color: #c1d3ee;
}

.hp-bb-icon {
  width: 195px;
  height: 195px;
  margin: .5rem auto .5rem;
}

.bold-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.section-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.825rem;
  color: #466880;
  line-height: 1.1;
  text-align: center;
  margin: 4rem 0 1rem;
  text-transform: uppercase;
}

.module-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: #466880;
  line-height: 1.25;
  text-align: center;
  margin: 1rem 0rem .5rem;
  text-transform: uppercase;
}

.section-message {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.35rem;
  color: #466880;
  line-height: 1.25;
  text-align: center;
  margin: 1rem 0rem .5rem;
}

.orange-link {
  text-transform: uppercase;
  text-transform: bold;
  font-size: .9rem;
  margin: 2.75rem 0;
  color: #ff7200;
}

.orange-bold {
  text-transform: uppercase;
  font-weight: bold;
  color: #ff7200;
  font-size: 1rem;
}

.page-id-9 .orange-bold,
.page-id-386 .orange-bold {
  margin-top: .75rem;
  margin-bottom: 0;
}

.quote {
  font-size: 1.175rem;
  margin-bottom: .75rem;
}

.small-p {
  font-size: .875rem;
}

.page-id-9 .small-p {
  margin-bottom: 1rem;
}

.page-id-386 {
  .small-p {
    margin-bottom: 1rem;
  }
  a .small-p {
    font-weight: normal !important;
  }
}

.cta-header {
  font-size: 1.5rem;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  margin: 1rem;
}

.interior-header,
.job-header,
.job-subheader {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #6b95b3;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}

.interior-header {
  font-size: 1.3rem;
  text-align: center;
  margin: 1rem 2rem 1rem !important;
}

.job-header {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 2rem 1rem !important;
}

.job-subheader {
  font-size: 1.3rem;
  text-align: left;
  margin: 1rem 0rem 1rem !important;
}

.bb-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25rem;
  color: #ffffff;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem;
}

.bb-sub {
  font-size: 1.375rem;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  margin: 1.25rem 1rem 1rem;
}

.intro-text {
  font-size: 1.15rem;
  line-height: 1.6;
  color: #466880;
  text-align: left;
  margin: 0 0rem 0rem !important;
  padding-bottom: 1rem;
}

.intro-text2 {
  margin: 0 2.75rem !important;
  padding-bottom: 3rem;
}

.page-id-9 p,
.page-id-386 p {
  margin-bottom: 1rem;
}

.small-blue-bold {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem;
  margin-top: .75rem;
}

.cflabel {
  font-size: 1rem;
  color: #466880;
  line-height: 1.45;
  margin: 0.5rem 0 0.15rem;
}

.cflabel-s {
  font-size: 1rem;
  color: #466880;
  line-height: 1.45;
  margin: 1rem 0 0.15rem;
}

.resource-img {
  width: 100%;
  max-width: 18.75rem;
  display: inline-block;
}

.resource-button {
  background-color: #ff7200;
  color: #ffffff;
  display: inline-block;
  font-size: 01rem;
  font-weight: bold;
  padding: 0.58rem 2.75rem 0.61rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  max-width: 18.75rem;
  transition: all .35s ease;
  transition: all .35s ease-out;
  &:hover {
    background-color: #466880;
    color: #ffffff !important;
    display: inline-block;
    transition: all .35s ease;
    transition: all .35s ease-out;
  }
}

.margin-bottom-4rem {
  margin-bottom: 4rem !important;
}

/* Hover Overlay */

.block-display-img {
  display: block;
}

.overlay-container {
  position: relative;
  &:hover {
    .overlay {
      background-color: rgba(255, 114, 0, 0.7);
    }
    .overlay-title,
    .overlay-title-advisors {
      opacity: 1;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .35s ease;
  background-color: rgba(255, 114, 0, 0);
}

.overlay-title {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  transition: .35s ease;
}

.overlay-title-advisors {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-0%, -50%);
  -ms-transform: translate(-0%, -50%);
  opacity: 0;
  transition: .35s ease;
}

.bio-reveal {
  width: 550px;
  max-width: 90%;
  padding: 3rem 3rem .85rem 3rem;
  margin: 10% auto;
}

.page-id-386 {
  .small-blue-bold {
    margin-bottom: 0 !important;
  }
  .small-p {
    line-height: 1.33;
    margin-top: 0;
  }
}

.orbit-previous,
.orbit-next {
  color: #ff7200;
  background: transparent !important;
  transition: .35s ease;
  transition: .35s ease-out;
}

.orbit-previous,
.orbit-next {
  padding: .35rem;
}

.orbit-previous:hover,
.orbit-next:hover {
  color: #466880;
}

@media only screen and (max-width: 42rem) {
  .orbit-next,
  .orbit-previous {
    display: none;
  }
}

.orbit-bullets {
  position: relative;
  margin-top: 2.8rem;
  margin-bottom: 0rem;
  text-align: center;
  button {
    &.is-active,
    &:hover {
      background-color: #ff7200;
    }
    width: .75rem;
    height: .75rem;
    margin: .1rem;
    border-radius: 50%;
    background-color: #466880;
  }
}