.icon-menu i {
  font-size: 22px;
  line-height: 1;
}

.top-bar {
  background-color: transparent;
  min-height: 106px;
  padding: 0;
  width: 100%;
  ul {
    background-color: white;
  }
  .header-logo {
    max-width: 200px;
  }
  .cart-contents {
    position: absolute;
    z-index: 1;
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
    left: 160px;
    top: 5px;
  }
}

#off-canvas,
.top-bar {
  .menu {
    &.dropdown li {
      margin: 0;
      &.is-dropdown-submenu-parent {
        a {
          padding-right: 10px;
          &:after {
            content: none;
          }
        }
      }
    }
    .active>a {
      background: none;
      color: $secondary-color;
    }
    &.menu-social-media {
      align-items: center;
      justify-content: flex-end;
      li {
        display: inline-block;
      }
      a {
        font-size: 13px;
        padding: 0 5px;
      }
    }
    &.submenu {
      min-width: 163px;
      border-color: #9fbbcf;
      margin-top: 23px;
      border-top: none;
      a {
        text-transform: none;
        text-align: right;
        font-size: 16px;
        font-weight: bold;
        padding: 15px 20px 15px 0;
      }
    }
    li {
      outline: none;
      margin-bottom: 20px;
      line-height: 1;
      &.orange-menu a {
        color: $secondary-color;
        font-weight: bold;
      }
    }
    a {
      text-transform: uppercase;
      font-size: 15px;
      color: $primary-color;
      font-weight: 500;
      padding: 0 10px;
      line-height: 1;
      outline: none;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

#off-canvas {
  .menu {
    @include breakpoint(mobile down) {
      &.vertical {
        ul {
          list-style-type: none;
          li {
            margin-bottom: 0;
          }
        }
      }
      &.menu-social-media {
        justify-content: center;
        li {
          text-align: center;
          width: 33.3333%;
          &.icon-menu i {
            font-size: 42px;
          }
        }
      }
      .sub-menu {
        margin-left: 40px;
        a:before {
          content: "― ";
        }
      }
    }
  }
}

.top-bar .top-bar-right {
  width: auto;
  float: right;
  position: absolute;
  right: 0;
  @include breakpoint(medium) {
    position: relative;
  }
  button {
    outline: none;
  }
}