.icon-menu i {
  font-size: 22px;
  line-height: 1;
}
.top-bar {
  background-color: transparent;
  min-height: 106px;
  padding: 0;
  width: 100%;
  ul {
    background-color: white;
  }
  .menu {
    &.dropdown li {
      margin: 0;
      &.is-dropdown-submenu-parent {
        a {
          padding-right: 10px;
          &:after {
            content: none;
          }
        }
      }
    }
    .active>a {
      background: none;
      color: $secondary-color;
    }
    &.menu-social-media {
      align-items: center;
      justify-content: flex-end;
      li {
        display: inline-block;
      }
      a {
        font-size: 13px;
      }
    }
    &.submenu {
      min-width: 163px;
      border-color: #9fbbcf;
			margin-top: 23px;
			border-top: none;
      a {
        text-transform: none;
        text-align: right;
        font-size: 16px;
        font-weight: bold;
        padding: 15px 20px 15px 0;
      }
    }
    li {
      margin-bottom: 20px;
      line-height: 1;
      &.orange-menu a {
        color: $secondary-color;
        font-weight: bold;
      }
    }
    a {
      text-transform: uppercase;
      font-size: 15px;
      color: $primary-color;
      font-weight: normal;
      padding: 0 10px;
      line-height: 1;
      &:hover {
        color: $secondary-color;
      }
    }
  }
  .header-logo {
    max-width: 200px;
  }
}
