.section-heading {
  text-align: center;
  margin-bottom: 40px;
  &__title {
    color: $secondary-color;
    line-height: 1.24;
  }
  &__subtitle {
    font-size: 20px;
    color: $primary-color;
    line-height: 1.4;
  }
}

.banner {
	@include breakpoint(small) {
    .main-container,
    .container {
      height: 345px;
		}
		&.home {
			.main-container,
			.container {
				height: 75vh;
			}
		}
		&__title {
			&--home {
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				top: 25vh;
			}
		}
		&__content {
			margin-bottom: 20px;
		}
	}
  @include breakpoint(medium) {
		&.home {
			.main-container,
			.container {
				height: 345px;
			}
		}
		&__title {
			margin-bottom: 0;
			letter-spacing: 0.02em;
			&--home {
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&__content {
			margin-bottom: 30px;
		}
  }
  &--video {
		.main-container,
		.container {
			height: auto;
			padding-top: $mobile-padding;
		}
		@include breakpoint(medium) {
			.main-container,
			.container {
        height: 345px;
        padding-top: 0;
			}
		}
    .flex-bottom {
      align-items: center;
      -webkit-align-items: center;
    }
    .banner__content,
    .banner__embed {
      margin-bottom: 0;
			@include breakpoint(small) {
				width: 100%;
				text-align: center;
				margin-bottom: $mobile-padding;
			}
			@include breakpoint(medium) {
				width: 50%;
				text-align: inherit;
				margin-bottom: 0;
			}
    }
  }
  &__cta-group {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    left: 0;
    min-height: 70px;
    align-items: center;
    -webkit-align-items: center;
    color: white;
    h6 {
      font-size: 13px;
      color: #c2d6e5;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1;
    }
    .cell {
      position: relative;
      background: #7d97a8;
      transition: background 300ms;
      height: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 70px;
      p {
        transition: color 300ms;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        display: table;
      }
      .inner {
        display: table-cell;
        vertical-align: middle;
      }
      @include breakpoint(medium) {
        cursor: pointer;
        &:hover {
          background: darken(#7d97a8, 20);
          p {
            color: $secondary-color;
          }
        }
        &:nth-child(2) {
          z-index: 2;
          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 50px;
            background-color: #b3cbdc;
          }
          &:before {
            left: -1px;
          }
          &:after {
            right: -1px;
          }
        }
      }
    }
  }
}

// Woocommerce custom styling
.woocommerce-page,
.woocommerce-cart,
.woocommerce-checkout,
.page-shop {
	.banner {
		@include breakpoint(small) {
			.main-container,
			.container {
				height: 155px;
        h3 {
					font-size: 28px;
					font-weight: 500 !important;
					color: $primary-color;
					box-shadow: none;
					text-shadow: none;
				}
			}
		}
	}
}

.woocommerce-page,
.woocommerce-cart,
.woocommerce-checkout {
  h2,
  h3 {
    font-size: 28px;
    font-weight: 500 !important;
    color: $primary-color;
    box-shadow: none;
    text-shadow: none;
    text-transform: uppercase;
  }
  #content #inner-content {
    padding-top: $mobile-padding;
    padding-bottom: $mobile-padding;
    @include breakpoint(medium) {
      padding-top: 50px;
      padding-bottom: 70px;
    }
  }
  .cart-collaterals,
  .woocommerce-order-details,
  .woocommerce-customer-details,
  .woocommerce-additional-fields,
  #order_review_heading {
    margin-top: $mobile-padding;
    @include breakpoint(medium) {
      margin-top: 50px;
      h2 {
        margin-bottom: 20px;
      }
    }
  }
  .woocommerce-message {
    margin-bottom: 20px;
  }
}

.angelleye-woocommerce-customer-details-email::before,
.angelleye-woocommerce-customer-details-phone::before {
  font-family: FontAwesome;
}

.angelleye-woocommerce-customer-details-email::before {
  content: "\f0e0";
}

.angelleye-woocommerce-customer-details-phone::before {
  content: "\f095";
}
// End Woocommerce custom styling

// Page blocks styling
.page-block {
	&--padding {
		padding-top: $mobile-padding;
		padding-bottom: $mobile-padding;
		@include breakpoint(medium) {
			padding-top: 50px;
			padding-bottom: 70px;
		}
	}
  &--text {
    padding-top: 50px;
    padding-bottom: 30px;
    h2 {
      line-height: 1.2;
      margin-bottom: 11px;
    }
    p {
      font-size: 20px;
      line-height: 1.4;
    }
	}
	&--text-2col {
		background-color: #f6f6f6;
		position: relative;
		@include breakpoint(small) {
			padding-top: $mobile-padding;
			padding-bottom: $mobile-padding;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				background-color: rgba($color: #ffffff, $alpha: 0.8);
			}
		}
		@include breakpoint(medium) {
			padding-top: 80px;
			padding-bottom: 70px;
			&::before {
				content: none;
			}
		}
		h2 {
			margin-bottom: 23px;
		}
		.button {
			margin-top: 18px;
		}
	}
  &--cta {
		@include breakpoint(small) {
			padding-top: $mobile-padding;
			padding-bottom: $mobile-padding;
			text-align: center;
			&--large {
				min-height: unset;
			}
		}
    @include breakpoint(medium) {
      padding-top: 65px;
			padding-bottom: 65px;
			text-align: inherit;
			&--large {
				min-height: 360px;
			}
    }
    .title {
      line-height: 1;
      margin-bottom: 21px;
    }
    &--large {
			display: flex;
      align-items: center;
      -webkit-align-items: center;
      .title {
        margin-bottom: 35px;
      }
    }
  }
  &--product-cta {
		@include breakpoint(small) {
			padding: $mobile-padding 0;
		}
		@include breakpoint(medium) {
			padding: 70px 80px;
		}
    h4 {
      margin-bottom: 20px;
    }
    .button {
      margin-bottom: 13px;
    }
	}
	&--products-overlap {
		padding-top: 60px;
		.main-container,
		.container {
			z-index: 11;
		}
		&--bottom {
			margin-top: 50px;
			@include breakpoint(medium) {
				margin-bottom: -20.5px;
			}
		}
		&__cell {
			min-height: 260px;
			position: relative;
			height: auto;
			padding-bottom: 42px;
			@include breakpoint(small) {
				margin-bottom: $mobile-padding;
			}
			@include breakpoint(medium) {
				margin-bottom: 0;
			}
			img {
				margin-bottom: 18px;
				max-width: 146px;
			}
			.button {
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
  }
  &--announcement {
    padding-top: 24px;
		padding-bottom: 24px;
		@include breakpoint(small) {
			text-align: center;
			&__content {
				margin-bottom: $mobile-padding;
			}
		}
		@include breakpoint(medium) {
			text-align: inherit;
			margin-bottom: 0;
			&__content {
				margin-bottom: 0;
			}
		}
    &__content {
      color: white;
      .title {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2;
      }
    }
    &--normal {
      padding-top: 60px;
      padding-bottom: 50px;
      p {
        margin-top: 15px;
        margin-bottom: 20px;
      }
    }
  }
  &--posts {
    &__grid {
			margin-top: 30px;
			.cell {
				margin-bottom: $mobile-padding;
				@include breakpoint(medium) {
					margin-bottom: 0;
				}
			}
    }
    &__thumbnail {
      width: 100%;
      height: 0;
      padding-bottom: 48.667%;
      border-bottom: 0.5px solid #eaeaea;
    }
    &__info {
      padding: 20px 17px 30px;
      p {
        font-size: 14px;
        line-height: 1.28;
      }
    }
  }
  &--news {
    padding-top: 32px;
    padding-bottom: 46px;
    h2 {
      margin-bottom: 50px;
      line-height: 1;
    }
    p {
      line-height: 1.375;
      &.page-block--news__date {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 1;

      }
    }
    a.button {
      margin-top: 20px;
    }
    &__item {
      margin-bottom: 30px;
    }
  }
  &--team {
    @include breakpoint(small) {
      padding-top: 30px;
      padding-bottom: 70px;
    }
  }
  &--testimonial {
    @include breakpoint(small) {
      padding-top: 40px;
      padding-bottom: 60px;
    }
    .orbit-controls {
      @include breakpoint(medium) {
        .orbit-previous {
          cursor: pointer;
          padding: 0;
          margin: 0;
          margin-left: -46px;
          outline: none;
        }
        .orbit-next {
          cursor: pointer;
          outline: none;
          padding: 0;
          margin: 0;
          margin-right: -46px;
        }
      }
      @include breakpoint(large) {
        position: absolute;
        width: 100vw;
        height: 40px;
        top: 50%;
        transform: translateY(-50%);
        left: calc((#{$container-width} - 100vw) / 2 - #{$container-width * 0.08333333} - #{map-get($grid-column-gutter, large)} / 2);
        .orbit-previous {
          margin-left: 0;
          left: 40px;
        }
        .orbit-next {
          margin-right: 0;
          right: 40px;
        }
      }
    }
	}
	&--editor {
		.main-container {
			padding-top: 40px;
			padding-bottom: 70px;
    }
    &--column {
      .main-container {
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .border-top {
        border-top: 4px solid get-color(primary);
      }
      .border-bottom {
        border-bottom: 4px solid get-color(primary);
      }
    }
	}
	&--cta-group {
		padding-top: $mobile-padding;
		padding-bottom: $mobile-padding;
		@include breakpoint(medium) {
			padding-top: 70px;
			padding-bottom: 75px;
		}
		&__btn-group {
			margin-top: 35px;
			.button {
				margin: 0 0 20px;
				@include breakpoint(medium) {
					margin: 0 11px;
				}
			}
		}
	}
	&--shop {
		$row-height: 37px;
		h2 {
			margin-bottom: 50px;
		}
		&__padding {
      @include breakpoint(medium) {
        padding-left: 25px;
      }
		}
		&__row {
			margin-bottom: 6px;
			.page-block--shop__padding {
				min-height: $row-height;
				p {
          letter-spacing: -0.03em;
          @include breakpoint(medium) {
            line-height: $row-height;
          }
				}
			}
			&:nth-child(even) {
				.page-block--shop__padding {
					background-color: #f4fbff;
				}
			}
		}
		&__checkout {
			margin-top: 50px;
		}
  }
  &--shop-resources {
    padding: 50px 0;
    h2 {
      margin-bottom: 30px;
    }
    .product-hexagon {
      max-width: 144px;
    }
    @include breakpoint(mobile down) {
      .cell {
        margin-bottom: 30px;
      }
    }
  }
}
// End Page blocks styling
