.section-heading {
  text-align: center;
  margin-bottom: 40px;
  &__title {
    color: $secondary-color;
    line-height: 1.2;
  }
  &__subtitle {
    font-size: 20px;
    color: $primary-color;
    line-height: 1.4;
  }
}

.banner {
  @include breakpoint(small) {
    .main-container,
    .container {
      height: 345px;
    }
  }
  @include breakpoint(medium) {
    &__title {
      margin-bottom: 30px;
      letter-spacing: 0.02em;
    }
  }
  &__cta-group {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    left: 0;
    min-height: 70px;
    align-items: center;
    color: white;
    h6 {
      font-size: 13px;
      color: #c2d6e5;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1;
    }
    .cell {
      position: relative;
      background: #7d97a8;
      transition: background 300ms;
      height: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 70px;
      p {
        transition: color 300ms;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        display: table;
      }
      .inner {
        display: table-cell;
        vertical-align: middle;
      }
      @include breakpoint(medium) {
        cursor: pointer;
        &:hover {
          background: darken(#7d97a8, 20);
          p {
            color: $secondary-color;
          }
        }
        &:nth-child(2) {
          z-index: 2;
          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 50px;
            background-color: #b3cbdc;
          }
          &:before {
            left: -1px;
          }
          &:after {
            right: -1px;
          }
        }
      }
    }
  }
}

.page-block {
  &--text {
    padding-top: 50px;
    padding-bottom: 30px;
    h2 {
      line-height: 1.2;
      margin-bottom: 11px;
    }
    p {
      font-size: 20px;
      line-height: 1.4;
    }
	}
	&--text-2col {
		padding-top: 80px;
		padding-bottom: 70px;
		h2 {
			margin-bottom: 23px;
		}
		.button {
			margin-top: 18px;
		}
	}
  &--cta {
    @include breakpoint(medium) {
      padding-top: 65px;
      padding-bottom: 65px;
    }
    .title {
      line-height: 1;
      margin-bottom: 21px;
    }
    &--large {
      padding-top: 0;
      padding-bottom: 0;
      height: 360px;
      .title {
        margin-bottom: 35px;
      }
    }
  }
  &--product-cta {
    padding: 70px 80px;
    h4 {
      margin-bottom: 20px;
    }
    .button {
      margin-bottom: 13px;
    }
	}
	&--products-overlap {
		padding-top: 60px;
		&--bottom {
			margin-top: 50px;
			margin-bottom: -20.5px;
		}
		&__cell {
			min-height: 260px;
			position: relative;
			height: auto;
			padding-bottom: 42px;
			img {
				margin-bottom: 18px;
			}
			.button {
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
  }
  &--announcement {
    padding-top: 24px;
    padding-bottom: 24px;
    &__content {
      color: white;
      .title {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0;
      }
    }
    &--normal {
      padding-top: 60px;
      padding-bottom: 50px;
      p {
        margin-top: 15px;
        margin-bottom: 20px;
      }
    }
  }
  &--posts {
    padding-top: 50px;
    padding-bottom: 70px;
    &__grid {
      margin-top: 30px;
    }
    &__thumbnail {
      width: 100%;
      height: 0;
      padding-bottom: 48.667%;
      border-bottom: 0.5px solid #eaeaea;
    }
    &__info {
      padding: 20px 17px 30px;
      p {
        font-size: 14px;
        line-height: 1.28;
      }
    }
  }
  &--news {
    padding-top: 32px;
    padding-bottom: 46px;
    h2 {
      margin-bottom: 50px;
      line-height: 1;
    }
    p {
      line-height: 1.375;
      &.page-block--news__date {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 1;

      }
    }
    a.button {
      margin-top: 20px;
    }
    &__item {
      margin-bottom: 30px;
    }
  }
}